<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="mpjw" parallel="false" thread-count="1">
    <test verbose="2" name="mpjw" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.manniwood.cl4pg.v1.test.ds.hikaricp.HikariCopyTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.hikaricp.HikariDeleteTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.hikaricp.HikariSelectTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.hikaricp.HikariSessionTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.hikaricp.HikariStoredProcTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.hikaricp.HikariUpdateTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.hikaricp.HikariInsertReturningTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.hikaricp.HikariUpdateReturningTest" />
            
            <class name="com.manniwood.cl4pg.v1.test.ds.pgpooling.PgPoolingCopyTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.pgpooling.PgPoolingDeleteTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.pgpooling.PgPoolingSelectTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.pgpooling.PgPoolingSessionTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.pgpooling.PgPoolingStoredProcTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.pgpooling.PgPoolingUpdateTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.pgpooling.PgPoolingInsertReturningTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.pgpooling.PgPoolingUpdateReturningTest" />
            
            <class name="com.manniwood.cl4pg.v1.test.ds.pgsimple.PgSimpleCopyTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.pgsimple.PgSimpleDeleteTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.pgsimple.PgSimpleSelectTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.pgsimple.PgSimpleSessionTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.pgsimple.PgSimpleStoredProcTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.pgsimple.PgSimpleUpdateTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.pgsimple.PgSimpleInsertReturningTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.pgsimple.PgSimpleUpdateReturningTest" />
            
            <!--  type tests -->
            <class name="com.manniwood.cl4pg.v1.test.types.BooleanTest" />
            <class name="com.manniwood.cl4pg.v1.test.types.ByteArrayTest" />
            <class name="com.manniwood.cl4pg.v1.test.types.CharTest" />
            <class name="com.manniwood.cl4pg.v1.test.types.DateTest" />
            <!-- unreliable <class name="com.manniwood.cl4pg.v1.test.types.DoubleTest" /> -->
            <!-- unreliable <class name="com.manniwood.cl4pg.v1.test.types.DoublePrecisionTest" /> -->
            <class name="com.manniwood.cl4pg.v1.test.types.FloatTest" />
            <class name="com.manniwood.cl4pg.v1.test.types.IntegerSmallIntTest" />
            <class name="com.manniwood.cl4pg.v1.test.types.IntegerTest" />
            <!-- unreliable <class name="com.manniwood.cl4pg.v1.test.types.MoneyTest" /> -->
            <class name="com.manniwood.cl4pg.v1.test.types.NameTest" />
            <class name="com.manniwood.cl4pg.v1.test.types.NumericTest" />
            <class name="com.manniwood.cl4pg.v1.test.types.OidTest" />
            <class name="com.manniwood.cl4pg.v1.test.types.TextTest" />
            <class name="com.manniwood.cl4pg.v1.test.types.VarcharTest" />
            
        </classes>
    </test>
</suite>
