<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="mpjw" parallel="false">
    <test verbose="2" name="mpjw" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.manniwood.cl4pg.test.factory.Cl4pgTestFactory" />
        </classes>
    </test>
</suite>
