<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="mpjw" parallel="false" thread-count="1">
    <test verbose="2" name="mpjw" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.manniwood.cl4pg.v1.test.ds.hikaricp.HikariCopyTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.hikaricp.HikariDeleteTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.hikaricp.HikariSelectTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.hikaricp.HikariSessionTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.hikaricp.HikariStoredProcTest" />
            
            <class name="com.manniwood.cl4pg.v1.test.ds.poolingpg.PoolingPgCopyTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.poolingpg.PoolingPgDeleteTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.poolingpg.PoolingPgSelectTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.poolingpg.PoolingPgSessionTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.poolingpg.PoolingPgStoredProcTest" />
            
            <class name="com.manniwood.cl4pg.v1.test.ds.simplepg.SimplePgCopyTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.simplepg.SimplePgDeleteTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.simplepg.SimplePgSelectTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.simplepg.SimplePgSessionTest" />
            <class name="com.manniwood.cl4pg.v1.test.ds.simplepg.SimplePgStoredProcTest" />
        </classes>
    </test>
</suite>
